html {
    background-color: black;
}

p {
    color: brown;
    text-align: center;
    font-size: large;
}

img {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}